# pip3 install -r requirements.txt
tensorflow
torch 
torchvision 
torchaudio
ipython
nbformat
rich
nltk
matplotlib
seaborn
pandas
transformers
datasets
huggingface_hub
scikit-learn
lightgbm
xgboost
wordcloud
